@model CFAPInventoryView.Data.Models.BasketTransaction

@{
    ViewData["Title"] = "Basket Transaction";
}

<h1>Delete</h1>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDistributed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDistributed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistributedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistributedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basket.BasketDisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BasketTransactionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
