@model CFAPInventoryView.Data.Models.BasketTransaction

@{
    ViewData["Title"] = "Basket Transaction";
}

<h1>Details</h1>

<div>
    <hr />
    <h1 class="d-lg-none">@ViewData["Title"]</h1>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDistributed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDistributed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistributedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistributedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basket.BasketDisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BasketTransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
