@model Basket

@{
    ViewData["Title"] = "iBelong Basket";
}

<h1>Create</h1>

<hr />
<h1 class="d-lg-none">@ViewData["Title"]</h1>
<div class="row mb-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="get">
                <div class="form-floating mb-3">
                    <select asp-for="AgeGroupId" class="form-select" asp-items="ViewBag.AgeGroupsSelectList" onchange="this.form.submit()">
                        <option value="@null">Select...</option>
                    </select>
                    <label asp-for="AgeGroupId"></label>
                    <span asp-validation-for="AgeGroupId" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
    <form asp-action="Create">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        <input type="hidden" asp-for="AgeGroupId" />
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input asp-for="BasketNumber" class="form-control" aria-required="true" placeholder="basket number" />
                    <label asp-for="BasketNumber" class="control-label"></label>
                    <span asp-validation-for="BasketNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="EthnicityId" class="form-select" asp-items="ViewBag.EthnicitiesSelectList" aria-required="true">
                        <option value="@null">Select...</option>
                    </select>
                    <label asp-for="EthnicityId"></label>
                    <span asp-validation-for="EthnicityId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="GenderId" class="form-select" asp-items="ViewBag.GendersSelectList" aria-required="true">
                        <option value="@null">Select...</option>
                    </select>
                    <label asp-for="GenderId"></label>
                    <span asp-validation-for="GenderId" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="DateAssembled" class="form-control" aria-required="true" placeholder="date assembled" />
                    <label asp-for="DateAssembled" class="control-label"></label>
                    <span asp-validation-for="DateAssembled" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="StorageLocationId" class="form-select" asp-items="ViewBag.StorageLocationsSelectList">
                        <option value="@null">Select...</option>
                    </select>
                    <label asp-for="StorageLocationId"></label>
                    <span asp-validation-for="StorageLocationId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <h4><label asp-for="SupplyBaskets" class="control-label"></label></h4>
            <hr />
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input type="text" id="search-txt" name="search-txt" class="form-control" aria-required="false" placeholder="Search..." onkeyup="filterProducts()" />
                    <label for="search-txt" class="control-label">Search...</label>
                    <span asp-validation-for="SupplyBaskets" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-2">
                
            @{
                int count = 0;
                List<AssignedSupplyViewModel>? assignedSupplies = ViewBag.AssignedProductsList as List<AssignedSupplyViewModel>;
                if (assignedSupplies is not null)
                {
                    @foreach (var supply in assignedSupplies)
                    {
                        if (count++ % 4 == 0)
                        {
                            @:</div><div class="row">
                        }
                        @:<div class="col-md-3 mb-2 filter-elms">
                            <div class="form-check form-switch">
                                <input type="checkbox" role="switch" class="form-check-input" name="assignedSupplies" value="@supply.SupplyId" @(supply.Assigned ? "checked='true'" : "") />
                                <label class="form-check-label">@supply.Name</label>
                            </div>
                        @:</div>
                    }
                }
                @:</div>
            }
        </div>
        <div class="form-group mt-3">
            <input type="submit" value="Create" class="btn btn-outline-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
