@model IEnumerable<Basket>

@{
    ViewData["Title"] = "iBelong Baskets";
}

<p class="text-center text-lg-start">
    <a asp-action="Create">Create New</a>
</p>
<div class="row fw-bold d-none d-lg-flex text-start text-lg-center">
    <div class="col-lg-1">@Html.DisplayNameFor(model => model.AgeGroupId)</div>
    <div class="col-lg-1">@Html.DisplayNameFor(model => model.EthnicityId)</div>
    <div class="col-lg-1">@Html.DisplayNameFor(model => model.GenderId)</div>
    <div class="col-lg-1">@Html.DisplayNameFor(model => model.Quantity)</div>
    <div class="col-lg-1">@Html.DisplayNameFor(model => model.DateAssembled)</div>
    <div class="col-lg-2">Products</div>
    <div class="col-lg-1"></div>
</div>
@if (Model is not null && Model.ElementAt(0) is not null)
{
    @foreach (var item in Model)
    {
        <div class="row text-start text-lg-center">
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.AgeGroupId):</div>
                <div class="col text-start">@Html.DisplayFor(modelItem => item.AgeGroup.Description)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.AgeGroup.Description)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.EthnicityId):</div>
                <div class="col text-start">@Html.DisplayFor(modelItem => item.Ethnicity.Description)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Ethnicity.Description)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.GenderId)</div>
                <div class="col text-start">@Html.DisplayFor(modelItem => item.Gender.Description)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Gender.Description)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.Quantity):</div>
                <div class="col text-start">@Html.DisplayFor(modelItem => item.Quantity)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Quantity)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.DateAssembled):</div>
                <div class="col text-start">@Html.DisplayFor(modelItem => item.DateAssembled)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.DateAssembled)</div>
            @if (item.ProductBaskets is not null)
            {
                var orderedProductBasket = item.ProductBaskets.Where(pb => pb.Active).OrderBy(pb => pb.Product.Name).ToList();
                <div class="row row-cols-2 d-lg-none">
                    <div class="col text-end fw-bold">Include:</div>
                    <div class="col text-start">
                        <ul>
                            @foreach (var productBasket in orderedProductBasket)
                            {
                                <li>@Html.DisplayFor(modelItem => productBasket.Product.Name)</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 text-start d-none d-lg-inline-block">
                    <ul>
                        @foreach (var categoryBasket in orderedProductBasket)
                        {
                            <li>@Html.DisplayFor(modelItem => categoryBasket.Product.Name)</li>
                        }
                    </ul>
                </div>
            }
            <div class="col-lg-1 text-center">
                <a asp-action="Edit" asp-route-id="@item.BasketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BasketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BasketId">Delete</a>
            </div>
        </div>
        <hr />
    }
}