@model IEnumerable<CFAPInventoryView.Data.Models.Ethnicity>

@{
    ViewData["Title"] = "Ethnicities";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EthnicityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EthnicityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EthnicityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
