@model Basket

@{
    ViewData["Title"] = "iBelong Basket Shopping List";
}

<h1>Edit</h1>

<hr />
<h1 class="d-lg-none">@ViewData["Title"]</h1>
<div class="row mb-3">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" method="get">
                    <div class="form-floating mb-3">
                        <select asp-for="AgeGroupId" class="form-select" asp-items="ViewBag.AgeGroupsSelectList" onchange="this.form.submit()">
                            <option value="@null">Select...</option>
                        </select>
                        <label asp-for="AgeGroupId"></label>
                        <span asp-validation-for="AgeGroupId" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BasketId" />
            <input type="hidden" asp-for="Quantity" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <select asp-for="EthnicityId" class="form-select" asp-items="ViewBag.EthnicitiesSelectList">
                            <option value="@null">Select...</option>
                        </select>
                        <label asp-for="EthnicityId"></label>
                        <span asp-validation-for="EthnicityId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="GenderId" class="form-select" asp-items="ViewBag.GendersSelectList">
                            <option value="@null">Select...</option>
                        </select>
                        <label asp-for="GenderId"></label>
                        <span asp-validation-for="GenderId" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="DateAssembled" class="form-control" aria-required="true" placeholder="date assembled" />
                        <label asp-for="DateAssembled" class="control-label"></label>
                        <span asp-validation-for="DateAssembled" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="SafeStockLevel" class="form-control" min="1" max="50" aria-required="true" placeholder="safe stock level" />
                        <label asp-for="SafeStockLevel" class="control-label"></label>
                        <span asp-validation-for="SafeStockLevel" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>Categories</h4>
                    <div class="form-floating mb-3">
                        <input type="text" id="search-category" name="search-category" class="form-control" aria-required="false" placeholder="Search..." onkeyup="filterCategories('category')" />
                        <label for="search-category" class="control-label">Search...</label>
                    </div>
                    <div class="row">
                        @{
                            List<AssignedCategoryViewModel>? assignedCategories = ViewBag.Categories as List<AssignedCategoryViewModel>;
                            if (assignedCategories is not null)
                            {
                                @foreach (var category in assignedCategories)
                                {
                                    <div class="form-check form-switch filter-category">
                                        <input type="checkbox" role="switch" class="form-check-input" name="assignedCategories" value="@category.CategoryId" @(category.Assigned ? "checked='true'" : "") />
                                        <label class="form-check-label">@category.Name</label>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="col-md-4 my-sm-3 my-md-0">
                    <h4>Optional Categories</h4>
                    <div class="form-floating mb-3">
                        <input type="text" id="search-optional" name="search-optional" class="form-control" aria-required="false" placeholder="Search..." onkeyup="filterCategories('optional')" />
                        <label for="search-optional" class="control-label">Search...</label>
                    </div>
                    <div class="row">
                        @{
                            List<AssignedCategoryViewModel>? assignedOptionalCategories = ViewBag.OptionalCategories as List<AssignedCategoryViewModel>;
                            if (assignedOptionalCategories is not null)
                            {
                                foreach (var category in assignedOptionalCategories)
                                {
                                    <div class="form-check form-switch filter-optional">
                                        <input type="checkbox" role="switch" class="form-check-input" name="assignedOptionalCategories" value="@category.CategoryId" @(category.Assigned ? "checked='true'" : "") />
                                        <label class="form-check-label">@category.Name</label>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Exclude Categories</h4>
                    <div class="form-floating mb-3">
                        <input type="text" id="search-exclude" name="search-exclude" class="form-control" aria-required="false" placeholder="Search..." onkeyup="filterCategories('exclude')" />
                        <label for="search-exclude" class="control-label">Search...</label>
                    </div>
                    <div class="row">
                        @{
                            List<AssignedCategoryViewModel>? assignedExcludeCategories = ViewBag.ExcludeCategories as List<AssignedCategoryViewModel>;
                            if (assignedExcludeCategories is not null)
                            {
                                foreach (var category in assignedExcludeCategories)
                                {
                                    <div class="form-check form-switch filter-exclude">
                                        <input type="checkbox" role="switch" class="form-check-input" name="assignedExcludeCategories" value="@category.CategoryId" @(category.Assigned ? "checked='true'" : "") />
                                        <label class="form-check-label">@category.Name</label>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}