@model IEnumerable<Basket>

@{
    ViewData["Title"] = "iBelong Basket Shopping List";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.AgeGroupId)</th>
            <th>@Html.DisplayNameFor(model => model.EthnicityId)</th>
            <th>@Html.DisplayNameFor(model => model.GenderId)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.DateAssembled)</th>
            <th>Include Categories</th>
            <th>Optional Categories</th>
            <th>Exclude Categories</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model is not null && Model.ElementAt(0) is not null)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AgeGroup.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Ethnicity.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Gender.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td>@Html.DisplayFor(modelItem => item.DateAssembled)</td>

            @if (item.CategoryBaskets is not null)
            {
                <td class="text-start">
                    <ul>
                    @foreach (var categoryBasket in item.CategoryBaskets)
                    {
                        if (categoryBasket.CategoryId is not null)
                        {
                            <li>@Html.DisplayFor(modelItem => categoryBasket.Category.Name)</li>
                        }
                    }
                    </ul>
                </td>
                <td>
                    <ul>
                    @foreach (var categoryBasket in item.CategoryBaskets)
                    {
                        if (categoryBasket.OptionalCategoryId is not null)
                        {
                            <li>@Html.DisplayFor(modelItem => categoryBasket.OptionalCategory.Name)</li>
                        }
                    }
                    </ul>
                </td>
                <td>
                    <ul>
                    @foreach (var categoryBasket in item.CategoryBaskets)
                    {
                        if (categoryBasket.ExcludeCategoryId is not null)
                        {
                            <li>@Html.DisplayFor(modelItem => categoryBasket.ExcludeCategory.Name)</li>
                        }
                    }
                    </ul>
                </td>
            }

            <td>
                <a asp-action="Edit" asp-route-id="@item.BasketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BasketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BasketId">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>