@model IEnumerable<CFAPInventoryView.Data.Models.ExcludeCategory>

@{
    ViewData["Title"] = "Exclude Categories";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model is not null && Model.ElementAtOrDefault(0) is not null)
{
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ExcludeCategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ExcludeCategoryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ExcludeCategoryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center py-2 border border-2 border-secondary rounded text-secondary">
        <p class="pt-2 fs-4">There are no @ViewData["Title"] in your database.</p>
    </div>
}