@model IEnumerable<CFAPInventoryView.Data.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1 class="text-center d-lg-none">@ViewData["Title"]</h1>

<p class="text-center text-lg-start">
    <a asp-action="Create">Create New</a>
</p>

@if (Model is not null && Model.ElementAtOrDefault(0) is not null)
{
    <div class="row fw-bold d-none d-lg-flex text-start text-lg-center">
        <div class="col-lg-3">@Html.DisplayNameFor(model => model.Name)</div>
        <div class="col-lg-1">@Html.DisplayNameFor(model => model.Quantity)</div>
        <div class="col-lg-2">@Html.DisplayNameFor(model => model.SafeStockLevel)</div>
        <div class="col-lg-3">@Html.DisplayNameFor(model => model.AgeGroups)</div>
        <div class="col-lg-3"></div>
    </div>

    int count = 0;
    foreach (var item in Model)
    {
        count++;
        string alternatingRowColorClass = string.Empty;
        if (count % 2 == 0)
        {
            alternatingRowColorClass = "medium-row-color";
        }
        var ageGroupCategoriesSorted = item.AgeGroups.OrderBy(agc => agc.AgeGroup.SortOrder);
        <div class="row text-start text-lg-center @alternatingRowColorClass">
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.Name):</div>
                <div class="col text-start">@Html.DisplayFor(modelItem => item.Name)</div>
            </div>
            <div class="col-lg-3 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.Quantity):</div>
                <div class="col text-start">@Html.DisplayFor(modelItem => item.Quantity)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Quantity)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.SafeStockLevel):</div>
                <div class="col text-start">@Html.DisplayFor(modelItem => item.SafeStockLevel)</div>
            </div>
            <div class="col-lg-2 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.SafeStockLevel)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.AgeGroups):</div>
                <div class="col text-start">
                    @foreach (var ageGroupCategory in ageGroupCategoriesSorted)
                    {
                        <ul class="list-unstyled">
                            <li>
                                @Html.DisplayFor(modelItem => ageGroupCategory.AgeGroup.Description)
                            </li>
                        </ul>
                    }
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-inline-block">
                @foreach (var ageGroupCategory in ageGroupCategoriesSorted)
                {
                    <ul class="list-unstyled">
                        <li>
                            @Html.DisplayFor(modelItem => ageGroupCategory.AgeGroup.Description)
                        </li>
                    </ul>
                }
            </div>
            <div class="col-lg-3 text-center">
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </div>
        </div>
        @if (count != Model.Count())
        {
            <hr />
        }
    }
}
else
{
    <div class="text-center py-2 border border-2 border-secondary rounded text-secondary">
        <p class="pt-2 fs-4">There are no @ViewData["Title"] in your database.</p>
    </div>
}