@model IEnumerable<CFAPInventoryView.Data.Models.Supply>

@{
    ViewData["Title"] = "Expiring";
}

<h1 class="text-center d-lg-none">@ViewData["Title"]</h1>

@if (Model is not null && Model.ElementAtOrDefault(0) is not null)
{
    <div class="row fw-bold d-none d-lg-flex text-start text-lg-center">
        <div class="col-lg-3">@Html.DisplayNameFor(model => model.Name)</div>
        <div class="col-lg-3">@Html.DisplayNameFor(model => model.Description)</div>
        <div class="col-lg-1">@Html.DisplayNameFor(model => model.Expires)</div>
        <div class="col-lg-1">@Html.DisplayNameFor(model => model.ExpirationDate)</div>
        <div class="col-lg-4">@Html.DisplayNameFor(model => model.StorageLocationId)</div>
    </div>

    int count = 0;
    @foreach (var item in Model)
    {
        count++;
        string alternatingRowColorClass = string.Empty;
        string expiredRowColorClass = string.Empty;
        if (count % 2 == 0)
        {
            alternatingRowColorClass = "medium-row-color";
        }
        if (item.ExpirationDate <= DateTime.Today)
        {
            expiredRowColorClass = "expired-row-color";
        }
        <div class="row p-1 text-start text-lg-center @alternatingRowColorClass @expiredRowColorClass">
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.Name):</div>
                <div action="col text-start">@Html.DisplayFor(modelItem => item.Name)</div>
            </div>
            <div class="col-lg-3 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.Description):</div>
                <div action="col text-start">@Html.DisplayFor(modelItem => item.Description)</div>
            </div>
            <div class="col-lg-3 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Description)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.Expires):</div>
                <div action="col text-start">@Html.DisplayFor(modelItem => item.Expires)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Expires)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.ExpirationDate):</div>
                <div action="col text-start">@Html.DisplayFor(modelItem => item.ExpirationDate)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.ExpirationDate)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.StorageLocationId):</div>
                <div action="col text-start">@HelperMethods.DisplaySafeString(item.StorageLocation)</div>
            </div>
            <div class="col-lg-4 d-none d-lg-inline-block">@HelperMethods.DisplaySafeString(item.StorageLocation)</div>
        </div>
        @if (count != Model.Count())
        {
            <hr />
        }
    }
}
else
{
    <div class="text-center py-2 border border-2 border-secondary rounded text-secondary">
        <p class="pt-2 fs-4">Congratulations, you have no products that expire in the next seven days!</p>
    </div>
}
<div class="my-3">
    <a asp-action="Index">Back to Reports</a>
</div>