@model IEnumerable<CFAPInventoryView.Data.Models.Product>

@{
    ViewData["Title"] = "Restock";
}

@if (Model is not null && Model.ElementAtOrDefault(0) is not null)
{
    <div class="row fw-bold d-none d-lg-flex text-start text-lg-center">
        <div class="col-lg-3">@Html.DisplayNameFor(model => model.Name)</div>
        <div class="col-lg-4">@Html.DisplayNameFor(model => model.Description)</div>
        <div class="col-lg-1">@Html.DisplayNameFor(model => model.Quantity)</div>
        <div class="col-lg-1">@Html.DisplayNameFor(model => model.SafeStockLevel)</div>
        <div class="col-lg-1">@Html.DisplayNameFor(model => model.Price)</div>
        <div class="col-lg-2"></div>
    </div>

    int count = 0;
    @foreach (var item in Model)
    {
        count++;
        string alternatingRowColorClass = string.Empty;
        if (count % 2 == 0)
        {
            alternatingRowColorClass = "medium-row-color";
        }
        <div class="row text-start text-lg-center @alternatingRowColorClass">
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.Name):</div>
                <div action="col text-start">@Html.DisplayFor(modelItem => item.Name)</div>
            </div>
            <div class="col-lg-3 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.Description):</div>
                <div action="col text-start">@Html.DisplayFor(modelItem => item.Description)</div>
            </div>
            <div class="col-lg-4 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Description)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.Quantity):</div>
                <div action="col text-start">@Html.DisplayFor(modelItem => item.Quantity)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Quantity)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.SafeStockLevel):</div>
                <div action="col text-start">@Html.DisplayFor(modelItem => item.SafeStockLevel)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.SafeStockLevel)</div>
            <div class="row row-cols-2 d-lg-none">
                <div class="col text-end fw-bold">@Html.DisplayNameFor(model => model.Price):</div>
                <div action="col text-start">@Html.DisplayFor(modelItem => item.Price)</div>
            </div>
            <div class="col-lg-1 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Price)</div>
            <div class="col-lg-2 text-center">
                <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </div>
        </div>
        @if (count != Model.Count())
        {
            <hr />
        }
    }
}
else
{
    <div class="text-center py-2 border border-2 border-secondary rounded text-secondary">
        <p class="pt-2 fs-4">Congratulations, you have no products that require restocking!</p>
    </div>
}
<div>
    <a asp-action="Index">Back to Reports</a>
</div>