@model RestockViewModel

@{
    ViewData["Title"] = "Restock";
#pragma warning disable CS8602
}

<h1 class="text-center d-lg-none">@ViewData["Title"]</h1>

@if (Model is not null)
{
    if (Model.Categories.ElementAtOrDefault(0) is not null)
    {
        <h3 class="mt-3 mb-1 text-center">@nameof(CFAPInventoryView.Data.ApplicationDbContext.Categories)</h3>
        <div class="row fw-bold d-none d-lg-flex text-start text-lg-center">
            <div class="col-lg-6">@Html.DisplayNameFor(model => model.Categories.ElementAtOrDefault(0).Name)</div>
            <div class="col-lg-6">@Html.DisplayNameFor(model => model.Categories.ElementAtOrDefault(0).QuantityNeeded)</div>
        </div>

        int count = 0;
        @foreach (var item in Model.Categories)
        {
            count++;
            string alternatingRowColorClass = string.Empty;
            if (count % 2 == 0)
            {
                alternatingRowColorClass = "medium-row-color";
            }
            <div class="row text-start text-lg-center @alternatingRowColorClass">
                <div class="row row-cols-2 d-lg-none">
                    <div class="col text-end fw-bold">@Html.DisplayNameFor(model => item.Name):</div>
                    <div action="col text-start">@Html.DisplayFor(modelItem => item.Name)</div>
                </div>
                <div class="col-lg-6 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="row row-cols-2 d-lg-none">
                    <div class="col text-end fw-bold">@Html.DisplayNameFor(model => item.QuantityNeeded):</div>
                    <div action="col text-start">@Html.DisplayFor(modelItem => item.QuantityNeeded)</div>
                </div>
                <div class="col-lg-6 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.QuantityNeeded)</div>
            </div>
            @if (count != Model.Categories.Count())
            {
                <hr />
            }
        }
    }
    if (Model.OptionalCategories.ElementAtOrDefault(0) is not null)
    {
        <h3 class="mt-5 mb-1 text-center">@nameof(CFAPInventoryView.Data.ApplicationDbContext.OptionalCategories).SplitCamelAndPascalCase()</h3>
        <div class="row fw-bold d-none d-lg-flex text-start text-lg-center">
            <div class="col-lg-6">@Html.DisplayNameFor(model => model.OptionalCategories.ElementAtOrDefault(0).Name)</div>
            <div class="col-lg-6">@Html.DisplayNameFor(model => model.OptionalCategories.ElementAtOrDefault(0).QuantityNeeded)</div>
        </div>

        int count = 0;
        @foreach (var item in Model.OptionalCategories)
        {
            count++;
            string alternatingRowColorClass = string.Empty;
            if (count % 2 == 0)
            {
                alternatingRowColorClass = "medium-row-color";
            }
            <div class="row text-start text-lg-center @alternatingRowColorClass">
                <div class="row row-cols-2 d-lg-none">
                    <div class="col text-end fw-bold">@Html.DisplayNameFor(model => item.Name):</div>
                    <div action="col text-start">@Html.DisplayFor(modelItem => item.Name)</div>
                </div>
                <div class="col-lg-6 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="row row-cols-2 d-lg-none">
                    <div class="col text-end fw-bold">@Html.DisplayNameFor(model => item.QuantityNeeded):</div>
                    <div action="col text-start">@Html.DisplayFor(modelItem => item.QuantityNeeded)</div>
                </div>
                <div class="col-lg-6 d-none d-lg-inline-block">@Html.DisplayFor(modelItem => item.QuantityNeeded)</div>
            </div>
            @if (count != Model.Categories.Count())
            {
                <hr />
            }
        }
    }
    
}
else
{
    <div class="text-center py-2 border border-2 border-secondary rounded text-secondary">
        <p class="pt-2 fs-4">Congratulations, you have no products that require restocking!</p>
    </div>
}
<div>
    <a asp-action="Index">Back to Reports</a>
</div>