@model StatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}

<h1 class="text-center d-lg-none">@ViewData["Title"]</h1>

<div class="row justify-content-between text-center">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="card text-center h-100 mx-auto">
            <div class="card-body">
                <h4 class="card-title">Supplies</h4>
                <p class="card-text">
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TotalSupplies):</div>
                        <div class="col-5 text-start mt-auto">@Html.DisplayFor(model => model.TotalSupplies)</div>
                    </div>
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TotalInventoryPrice):</div>
                        <div class="col-5 text-start mt-auto">@Html.DisplayFor(model => model.TotalInventoryPrice)</div>
                    </div>
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TotalItemsThatExpire):</div>
                        <div class="col-5 text-start mt-auto">@Html.DisplayFor(model => model.TotalItemsThatExpire)</div>
                    </div>
                    <div class="row">
                        <div class="col-6 fw-bold text-end"></div>
                        <div class="col-5 text-start mt-auto">dd:hh:mm:ss</div>
                    </div>
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.AverageSupplyDurationOnShelf):</div>
                        <div class="col-5 text-start mt-auto">@Html.DisplayFor(model => model.AverageSupplyDurationOnShelf)</div>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="card text-center h-100 mx-auto">
            <div class="card-body">
                <h4 class="card-title">iBelong Baskets</h4>
                <p class="card-text">
                    <div class="row">
                        <div class="col-7 fw-bold text-end">@Html.DisplayNameFor(model => model.TotalShoppingListBaskets):</div>
                        <div class="col-4 text-start mt-auto">@Html.DisplayFor(model => model.TotalShoppingListBaskets)</div>
                    </div>
                    <div class="row">
                        <div class="col-7 fw-bold text-end">@Html.DisplayNameFor(model => model.TotaliBelongBaskets):</div>
                        <div class="col-4 text-start mt-auto">@Html.DisplayFor(model => model.TotaliBelongBaskets)</div>
                    </div>
                    <div class="row">
                        <div class="col-7 fw-bold text-end">@Html.DisplayNameFor(model => model.TotaliBelongBasketPrice):</div>
                        <div class="col-4 text-start mt-auto">@Html.DisplayFor(model => model.TotaliBelongBasketPrice)</div>
                    </div>
                    <div class="row">
                        <div class="col-7 fw-bold text-end"></div>
                        <div class="col-4 text-start mt-auto">dd:hh:mm:ss</div>
                    </div>
                    <div class="row">
                        <div class="col-7 fw-bold text-end">@Html.DisplayNameFor(model => model.AverageBasketDurationOnShelf):</div>
                        <div class="col-4 text-start mt-auto">@Html.DisplayFor(model => model.AverageBasketDurationOnShelf)</div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-between text-center mt-lg-3">
    <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="card text-center h-100 mx-auto">
            <div class="card-body">
                <h4 class="card-title">Donors</h4>
                <p class="card-text">
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TopDonorByNumberOfDonations):</div>
                        <div class="col-5 text-start mt-auto">
                            @{
                                string topDonorByNumberFullName = Model.TopDonorByNumberOfDonations?.FullName ?? string.Empty;
                                string topNumberOfDonations = Model.TopNumberOfDonations > 0 ? Model.TopNumberOfDonations.ToString() : string.Empty;
                            }
                            @topDonorByNumberFullName
                            &nbsp;
                            @topNumberOfDonations
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TopDonorByDollarAmountDonated):</div>
                        <div class="col-5 text-start mt-auto">
                            @{
                                string topDonorByAmountFullName = Model.TopDonorByDollarAmountDonated?.FullName ?? string.Empty;
                                string topAmountDonated = Model.TopDollarAmountDonated > 0 ? Model.TopDollarAmountDonated.ToString() : string.Empty;
                            }
                            @topDonorByAmountFullName
                            &nbsp;
                            @topAmountDonated
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="card text-center h-100 mx-auto">
            <div class="card-body">
                <h4 class="card-title">Recipients</h4>
                <p class="card-text">
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TopRecipientByNumberOfItemsReceived):</div>
                        <div class="col-5 text-start mt-auto">
                            @{
                                string topRecipientByNumberFullName = Model.TopRecipientByNumberOfItemsReceived?.FullName ?? string.Empty;
                                string topNumberOfItemsReceived = Model.TopNumberOfItemsReceived > 0 ? Model.TopNumberOfItemsReceived.ToString() : string.Empty;
                            }
                            @topRecipientByNumberFullName
                            &nbsp;
                            @topNumberOfItemsReceived
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TopRecipientByDollarAmountReceived):</div>
                        <div class="col-5 text-start mt-auto">
                            @{
                                string topRecipientByAmountFullName = Model.TopRecipientByDollarAmountReceived?.FullName ?? string.Empty;
                                string topAmountReceived = Model.TopDollarAmountReceived > 0 ? Model.TopDollarAmountReceived.ToString() : string.Empty;
                            }
                            @topRecipientByAmountFullName
                            &nbsp;
                            @topAmountReceived
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="my-3">
    <a asp-action="Index">Back to Reports</a>
</div>