@model StatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}

<div class="row justify-content-between text-center">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="card text-center h-100 mx-auto">
            <div class="card-body">
                <h4 class="card-title">Supplies</h4>
                <p class="card-text">
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TotalSupplies):</div>
                        <div class="col-5 text-start mt-auto">@Html.DisplayFor(model => model.TotalSupplies)</div>
                    </div>
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TotalInventoryPrice):</div>
                        <div class="col-5 text-start mt-auto">@Html.DisplayFor(model => model.TotalInventoryPrice)</div>
                    </div>
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TotalItemsThatExpire):</div>
                        <div class="col-5 text-start mt-auto">@Html.DisplayFor(model => model.TotalItemsThatExpire)</div>
                    </div>
                    <div class="row">
                        <div class="col-6 fw-bold text-end"></div>
                        <div class="col-5 text-start mt-auto">dd:hh:mm:ss</div>
                    </div>
                    <div class="row">
                        <div class="col-6 fw-bold text-end">@Html.DisplayNameFor(model => model.TotalSupplyDurationOnShelf):</div>
                        <div class="col-5 text-start mt-auto">@Html.DisplayFor(model => model.TotalSupplyDurationOnShelf)</div>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-3 mb-lg-0">
        <div class="card text-center h-100 mx-auto">
            <div class="card-body">
                <h4 class="card-title">iBelong Baskets</h4>
                <p class="card-text">
                    <div class="row">
                        <div class="col-7 fw-bold text-end">@Html.DisplayNameFor(model => model.TotalShoppingListBaskets):</div>
                        <div class="col-4 text-start mt-auto">@Html.DisplayFor(model => model.TotalShoppingListBaskets)</div>
                    </div>
                    <div class="row">
                        <div class="col-7 fw-bold text-end">@Html.DisplayNameFor(model => model.TotaliBelongBaskets):</div>
                        <div class="col-4 text-start mt-auto">@Html.DisplayFor(model => model.TotaliBelongBaskets)</div>
                    </div>
                    <div class="row">
                        <div class="col-7 fw-bold text-end">@Html.DisplayNameFor(model => model.TotaliBelongBasketPrice):</div>
                        <div class="col-4 text-start mt-auto">@Html.DisplayFor(model => model.TotaliBelongBasketPrice)</div>
                    </div>
                    <div class="row">
                        <div class="col-7 fw-bold text-end"></div>
                        <div class="col-4 text-start mt-auto">dd:hh:mm:ss</div>
                    </div>
                    <div class="row">
                        <div class="col-7 fw-bold text-end">@Html.DisplayNameFor(model => model.TotalBasketDurationOnShelf):</div>
                        <div class="col-4 text-start mt-auto">@Html.DisplayFor(model => model.TotalBasketDurationOnShelf)</div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="my-3">
    <a asp-action="Index">Back to Reports</a>
</div>